* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    background-image: url(../img/Fon.png);
}

html,
body,
.wrapper {
	height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

button, input {
    background: #2B5378;
	color: white;
	width: 80px;
	height: 30px;
	transition: all 0.5s ease;
	border-radius: 5px;
	border: #ffffff;
}

.formtable{
    width: 0 auto;
    height: 0 auto;
}

.text1 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left: 60px;
}

.text2 {
    width: 500px;
    left: 27px;
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 27px;
}

.text3 {
    margin:0 auto;
    width: 500px;
    left: 27px;
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin:0 auto;
       empty-cells:show; 
       margin:0 auto;
       margin-left: 38%;
    position: absolute;
}

.text4 {
    margin-top: 100px;

    width: 500px;
    left: 27px;
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 41%;
    position: absolute;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    margin-top: 5px;
}

.d-flex { 
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.maincontainer {
    box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}

.container {
    padding: 0 15px;
}

.container1{
    position: absolute;
	padding: 10 px;
	top: 0;
	margin-top: 11%;
}

.mainform {
    position: absolute;
    height: fit-content;
}

.container2{
    position: absolute;
	padding: 10 px;
	top: 0;
	margin-top: 11%;
    margin-left: 350px;
}

.container3 {
    position: relative;
    margin-top: 400px;
    margin-left: 600px;
}

.container4 {
    position: absolute;
    margin-left: 600px;
    margin-top: 10px;
}

#header {
    background-color: #2B5378;
    width: 100%;
}

.header-nav {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

footer {
    position: absolute;
	color: white;
	text-align: center;
	background: #2B5378;
    width: 100%;
    height: 25px;
    margin-top: 0px;
}
.grid1{
    margin-top: 40px;
}

.grid3{
    margin-top: 150px;
}

#grid2{
    margin-top: 50px;
	width:1200px;
	height:200px;
	border-style:solid;
	border-bottom-width:thin;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    
    color:#353535;
    
    border-radius: 10px;
}

#grid4{
	width:1200px;
	height:200px;
    margin-top: 150px;
	border-style:solid;
	border-bottom-width:thin;
    background: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    
    color:#353535;
    
    border-radius: 10px;
}

td{
	overflow:hidden;
	 height:25px;
	 border:1px solid #999999;
   	 padding:0 1em 0;
}

tr:hover{
	background-color:#b4b1b1;
}

.odd{
 background-color:#f5fafe;
}

#btnUpdateUsers{
    margin-left: 1250px;
    display: inline-block;
    cursor: pointer;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background: #2B5378;;
}