* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    background-image: url(../img/Fon.png);
}


#grid2{ 
    margin-left: 200px;
    width: 1200px; 
    margin-top: 20px; 
    height:200px; 
    border: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;  
    color:#353535; 
    background-color: #ffffff; 
    border-radius: 20px; 
} 

#grid2 button {
    background: #2B5378; 
    color: white; 
    width: 40px; 
    height: 30px; 
    margin-left: 12px; 
    transition: all 0.5s ease; 
    border-radius: 10px; 
    border: #2B5378; 
}
 
#grid4{ 
    margin-left: 200px;
    width: 1200px; 
    margin-top: 100px;
    margin-bottom: 70px; 
    height:200px; 
    border: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;  
    color:#353535; 
    background-color: #ffffff; 
    border-radius: 20px; 
}

#grid4 button {
    background: #2B5378; 
    color: white; 
    width: 40px; 
    height: 30px; 
    margin-left: 12px; 
    transition: all 0.5s ease; 
    border-radius: 10px; 
    border: #2B5378; 
}

thead{
    border-radius: 200px;
}

html,
body,
.wrapper {
	height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

table button {
    background: #2B5378;
	color: white;
	width: 70px;
	height: 40px;
	margin-left: 15px;
	transition: all 0.5s ease;
	border-radius: 10px;
	border: #2B5378;
}

.text1 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left: -20px;
}

.text2 {
    width: 500px;
    left: 27px;
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 27px;
}

.text3 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 200px;
}

.text4 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 60px;
    margin-left: 250px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    margin-top: 5px;
}

.d-flex { 
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

input {
    width:250px;
	height: 43px;
	padding-left: 18px;
	margin: 5px;
	display: block;
	margin-left: 60px;
	margin-top: 40px;
	box-sizing: border-box;
	color: white;
	background: rgba( 0,0,0,.1);
	border: 1px solid white;
	opacity: 1;
    border-radius: 5px;
}

.maincontainer {
    box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 0px;
}

.container {
    padding: 0 15px;
}

#header {
    background-color: #2B5378;
    width: 100%;
}

.header-nav {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.header-nav a{
    color: #FFFFFF;
}

#foooter {
    position: absolute;
	color: white;
	text-align: center;
	background: #2B5378;
    width: 100%;
    height: 25px;
    margin-top: 0px;
}

#grid2{
    width:1000px;
	height:200px;
	border-style:solid;
	border-bottom-width:thin;
    table-layout:fixed;
    empty-cells:show; 
    font-size:18px;
    color:#353535;
    background-color: #ffffff;
    border-radius: 10px;
}

#grid4{
    margin-top: 60px;
    top: 100px;
    width:1000px;
	height:200px;
	border-style:solid;
	border-bottom-width:thin;

       table-layout:fixed;
       empty-cells:show; 
       
       font-size:18px;
       
       color:#353535;
       background-color: #ffffff;
       border-radius: 10px;
}

.fi_tr{
	background:url(img/table_header.png);
	text-align:center;
	height:30px;
}
td{
	overflow:hidden;
	 height:25px;
	 border:1px solid #353535;
   	 padding:0 1em 0;
}

tr:hover{
	background-color:#0000007a;
}

.odd{
 background-color:#f5fafe;
}

#btnUpdateUsers{
    margin-left: 1160px;
    width: 40px;
    height: 40px;
    margin-top: 60px;
    background: #2B5378;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.04em;
    border-color: transparent;
    color: #FFFFFF;
}

.form-group{
    margin-left: 430px;
}

.form-group button{
    margin-top: 10px;
    margin-left: 90px;
}