body {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    background-image: url(../img/Fon.png);
    background-color: #2B5378;
}

input{
    width:250px;
	height: 43px;
	padding-left: 18px;
	margin-top: 30px;
    margin-left: 900px;
	display: block;
	box-sizing: border-box;
	color: white;
	background: rgba( 0,0,0,.1);
	border: 1px solid white;
	opacity: 1;
    border-radius: 5px;
}


#in1{
    position: absolute;
    width:250px;
	height: 43px;
	padding-left: 18px;
	margin-top: 250px;
    margin-left: 900px;
	display: block;
	box-sizing: border-box;
	color: white;
	background: rgba( 0,0,0,.1);
	border: 1px solid white;
	opacity: 100%;
    border-radius: 5px;
}

#in2{
    position: absolute;
    width:250px;
	height: 43px;
	padding-left: 18px;
	margin-top: 325px;
    margin-left: 900px;
	display: block;
	box-sizing: border-box;
	color: white;
	background: rgba( 0,0,0,.1);
	border: 1px solid white;
	opacity: 100%;
    border-radius: 5px;
}

#logIn{
    position: absolute;
    width: 120px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #2B5378;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 425px;
    margin-left: 965px;
}

#lb1{
    position: absolute;
    color: #FFFFFF;
    margin-top: 150px;
    margin-left: 925px;
    font-size: 36px;
}

#lb2{
    position: absolute;
    color: #FFFFFF;
    margin-top: 500px;
    margin-left: 125px;
    font-size: 36px;
    text-align: center;
}

img.avatar {
    width: 400px;
    border-radius: 50%;
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.container2{
    position: absolute;
	padding: 10px;
	top: 0;
	margin-top: 6%;
    margin-left: 200px;
}